/* PHO DINH styles! */
* {
    margin: 0;
    padding: 0;
}

html,body {
    
    background-color: #fff;
    margin:0;
    padding:0;
    font-family: sans-serif, helvetica;
}

header {
    background-color:#34DDDD;
}

#wrapper {
    padding:0 1em 2em 1em;
    width:80%;
    max-width:1280px;
    margin:auto;
    height: 100%;
    text-align: center;
    color: #fff
}

#wrapper-title {
    padding:0 1em 2em 1em;
    width:80%;
    max-width:1280px;
    margin:auto;
    height: 100%;
    text-align: center;
    color: #fff
}

#wrapper-title h2 {
    font-size: 1000%;
}

#wrapper-left {
    background-color:#fff;
    padding:2em 1em 2em 12em;
    max-width:1280px;
    margin:auto;
    height: 100%;
}

a {
    text-decoration: none;
}

h1 {
    margin:0 1em .5em 0; 
    padding-top:1em;
    text-decoration: none;
    font-family: 'Molle', cursive;
}

h2 {
    font-family: 'Molle', cursive;
}

/*nav styles+++++++++++*/ 
a.titleBar {
        text-decoration: none;
    color: #000;
}

a.titleBar:visited {
    color: #000;
}

h1#title {
    text-align: center;
    display:block;

}

a#logo {
    text-decoration: none;
    color:#000
}
/*end nav styles+++++++++++*/

.spacer-title {
    height: 200px;
}

/*format ++++++++++*/
section {
    float:left;
    width:66%;
}

aside {
    float:right;
    width:33%; 
    padding:2em 1em 2em 0;
}

div.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 

div.embed-container iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index:0;
    border:0;
}



.full-bg-img {
    background-size: cover;
    background-position: center;
}

/*form styles*/
.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


/*start jquery css*/
#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}


#panel {
    padding: 50px;
    display: none;
}
/*end jquery css*/

figure {
    display:inline-block;
    width:32.7%;
    margin:0;
    padding:0;
    text-align:center;
}

figure img {
    width:100%;
}


footer {
    padding: 1em;
    text-align:center;
    clear:both; /* clears floated elements that occur before it */
    color: #f00;
}

.footer a {
    color: #f00;
}

.footer a:visited {
    color: #f00;
}

/* MOBILE */
@media all and (max-width:1680px) {
    section, aside {
        float:none;
        width:100%;
    }
    
    #wrapper-left {
    padding:2em 1em 2em 2em;
    }
    
    aside {
        display: none;
    }
}
/* MOBILE */


@media all and (max-width:720px) {
    html,body {
        background-color:#89E894; 
    }
   
    #wrapper {
        width:100%; 
        padding:0 0em 2em 0em;
    }

/*Controll padding for title and content*/

    div#title,
    div#content,
    div#side    {
        padding: 1em;
    }

    iframe.mobile {
        width: 100%;
    }
/*
    table.desktop {
        display: none;
    }
*/
    
/*
    section, aside {
        float:none;
        width:100%;
    }
*/
   
    figure {
        display:block;
        width:100%;
    }
}


/* CTA Images */
@media all and (max-width:320px) {

figure {
    display:block;
    width:100%;
    }
    

}


